<div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">DuelBits</h3>
                        <ul class="nav masthead-nav">
                            <li ><a href="/">Home</a>
                            </li>
                            <li class="active"><a href="/about">About</a>
                            </li>
                            <li><a href="/history">History</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-hide="isMobile"> 
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                </div>

                <div class="inner cover">
                    <h2 class="cover-heading">A Game For The Wealthy:</h2>
                    <p class="lead">DuelBits is a game of blind war! Just like in life, the rich get richer here! In this game every 0.001BTC is considered a troop, and anything less is resource! If you send more BTC than the player before you then you win! Winners will get their btc back, aswell as their oppenents! Ties will be settled by whoever sent the most resources! (aka all btc less 0.001BTC) You can check the results of past wars in the history tab. (past battles will remain in history for 48 hours)</p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p class="p1"><span class="s1">©2014&nbsp;Bachik LLC. All Rights Reserved.</span>
                        </p>
                    </div>
                </div>

            </div>

        </div>