<div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">DuelBits</h3>
                        <ul class="nav masthead-nav">
                            <li ><a href="/">Home</a>
                            </li>
                            <li ><a href="/about">About</a>
                            </li>
                            <li class="active"><a href="/history">History</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-hide="isMobile"> 
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                </div>

                <div class="inner cover">
                    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading" style="text-align:left; padding-bottom: 20px;">Results: <div style="float: right;"> <input type="text" style="padding-bottom:6px;" /> <button class="btn btn-sm btn-primary">search</button></div></div>
                      <!-- Table -->
                      <table class="table table-stripend">
                        <tr style="color: black;">
                          <th>Address</th>
                          <th>Outcome</th>
                        </tr>
                          <tr style="text-align:left; color: black;">
                            <td>1PSvFXJsq2g4v5giTwemMytV8jpncbc13o</td>
                            <td>You Won!</td>
                          </tr>
                      </table>
                  </div>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p class="p1"><span class="s1">©2014&nbsp;Bachik LLC. All Rights Reserved.</span>
                        </p>
                    </div>
                </div>

            </div>

        </div>