<div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">DuelBits</h3>
                        <ul class="nav masthead-nav">
                            <li ><a href="/">Home</a>
                            </li>
                            <li ><a href="/about">About</a>
                            </li>
                            <li class="active"><a href="/history">History</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-hide="isMobile"> 
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                </div>

                <div class="inner cover">
                    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading" style="text-align:left; padding-bottom: 20px;">
                        Last Ten Results: <div style="float: right;"> 
                        <input type="text" placeholder="Your BTC Address" ng-model="searchAdd" style="padding-bottom:6px;" /> 
                        <button ng-click="search(searchAdd)" class="btn btn-sm btn-primary">search</button>
                      </div>
                    </div>
                      <!-- Table -->
                      <table class="table">
                        <tbody>
                          <tr style="color: black;">
                            <th>Address</th>
                            <th>Your Troops :  Opps Troops</th>
                            <th>Outcome</th>
                          </tr>
                            <tr class="{{results.newClass}}" ng-repeat="results in result" style="color: black;">
                              <td>{{results.btcAdd}}</td>
                              <td>{{results.yourTroops}}:{{results.oppTroops}}</td>
                              <td>{{results.outcome}}</td>
                            </tr>
                          </tbody>
                      </table>
                    </div>

                    <p class="lead"><b>*Note:</b> If your recent deposit does not show up it's because we are still waiting for confirmations, or an oppenent to match you with.</p>

                  </div>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p class="p1"><span class="s1">©2014&nbsp;Bachik LLC. All Rights Reserved.</span>
                        </p>
                    </div>
                </div>

            </div>

        </div>