<div ng-hide="btcLength">

</div>

<div ng-show="btcLength" class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">DuelBits</h3>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a>
                            </li>
                            <li><a href="#">About</a>
                            </li>
                            <li><a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-hide="isMobile()"> 
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">{{btcAdd}}</h1>
                    <p class="lead">Send any amount of BTC to the address above to engage in war!</p>
                    <form action="/duel" method="post">
                      <input class="form-control" type="number" name="troops" />
                      <input name="btcAdd" value="{{btcAdd}}" />
                      <br />
                      <p class="lead">
                        <input class="btn btn-lg btn-default" type="submit" value="Duel">
                      </p>
                    </form>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p class="p1"><span class="s1">©2014&nbsp;Bachik LLC. All Rights Reserved.</span>
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </div>
