<div ng-hide="btcLength">

</div>

<div ng-show="btcLength" class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">DuelBits</h3>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="/">Home</a>
                            </li>
                            <li><a href="/about">About</a>
                            </li>
                            <li><a href="/history">History</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-hide="isMobile"> 
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                </div>

                <div class="inner cover">
                    <h1 ng-show="isLoading">Loading...</h1>
                    <h2 ng-hide="isMobile || isLoading" class="cover-heading">{{depAdd}}</h2>
                    <h4 ng-show="isMobile">{{depAdd}}</h2>
                    <p ng-hide="isMobile"class="lead">Send BTC to the Address above to Engage In War! <br/> Minimum Bet: 0.001 BTC</p>
                    <p ng-show="isMobile">Send BTC to the Address above to Engage In War! <br/> Minimum Bet: 0.001 BTC</p>
                    <button class="btn" ng-click="updateAdd()"><b>Change Withdrawl Address</b></button>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p class="p1"><span class="s1">©2014&nbsp;Bachik LLC. All Rights Reserved.</span>
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </div>
