        <div class="modal-header">
            <h3 style="color:black;">Anonymous Login</h3>
        </div>
        <div class="modal-body">
            <p style="color:black; float:left;">Enter your btc withdral address:</p>
              <input type="text" style="color:black;" ng-model="btcAdd" class="form-control" />
              <br />
             <p style="color:black;"> <b>*Note!</b> If your withdrawl address is incorrect then you will not be sent your winnings! </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$close(btcAdd)">Duel</button>
        </div>